# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# IDE
.vscode/
.idea/

# Backups
backups/

# Session files
session.json
palio_games_status_tmp.json
.env

palio_updated.json

logs
